original_parameters
output/
.vscode/settings.json
iPTF13bvn.txt
figure_2017ein.png
figure_iPTF13bvn.png
calibrated.txt
2017ein_observed.txt
calibrated.txt
figure1.png
figure2.png
figure3.png
bestfit.png
bestfit2.png
chi1.png
chi2.png
chi3.png
download_images.sh
bestfit3.png
vary_alpha.png
vary_Energy.png
vary_NiM.png
alpha.png
Energy.png
NiM.png
